@CHARSET "ISO-8859-1";

	body{
		margin: 0px;
    	padding :0px;
    	text-align:center;
		font-family:Arial,TimesNewRoman;
		font-size : 12.5px;
		width:210mm;	
		max-width:210mm;
		min-width:210mm;
	}
	#container{
		margin:auto;
		margin-top:4mm;
		height:290mm;
		max-height: 290mm;
		min-height: 290mm;
		width: 195mm;
		max-width:195mm;
		min-width:195mm;
		text-align:center;
		border-collapse: collapse;
		overflow: hidden;
		position: relative;
	}
	
	
	
	
	.header1{
		font-weight: bold;
	}
	.header1 #copy{
		font-size : 13px;
		margin-top : 5px;
		padding-left : 5px;
		float: left;
	}
	.header1 #head{
		margin-bottom:5px;
		font-size : 19px;
		text-align : center;
		padding-right : 100px;
	}
	
	
	
	
	
	#header2{
		border:1px solid black;
		overflow:hidden;
		height:41mm;
		max-height: 41mm;
		min-height: 41mm;
		width: 195mm;
		max-width:195mm;
		min-width:195mm;
		position: absolute;
	}
	.header21{
		margin:0px;
		height:41mm;
		max-height: 41mm;
		min-height: 41mm;
		width: 100mm;
		max-width:100mm;
		min-width:100mm;
		float:left;
		text-align:left;
		overflow:hidden;
	}
	.header21 #buyer{
		width:80%;
		height:29mm;
		max-height: 29mm;
		min-height: 29mm;
		padding-top:4px;
		padding-left:4px;
		padding-bottom: 4px;
		float: left;
		white-space: -moz-pre-wrap !important;
     	white-space: -pre-wrap;      
     	white-space: -o-pre-wrap;    
     	white-space: pre-wrap;      
     	word-wrap: break-word;       
     	word-break: break-all;
     	white-space: normal
	}
	.header21 #buyer #name{
		font-size:15px;
		text-transform: capitalize;
	}
	.header21 #buyer #gst{
		padding-top:3px;
		font-size: 13px;
	}
	.header21 #invoiceInfo{
		width:100%;
		height:12mm;
		max-height: 12mm;
		min-height: 12mm;
		font-weight: bold;
		float:left;
		border-top: 1px solid black;
		padding-left:4px;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	.header22{
		border-left:1px solid black;
		border-right:1px solid black;
		float: left;
		height:41mm;
		max-height: 41mm;
		min-height: 41mm;
		width: calc(95mm - 3px);
		max-width:calc(95mm - 3px);
		min-width:calc(95mm - 3px);
	}
	.header22 #logo{
		width:290px;
		height:70px;
		margin-top:7px;
		margin-bottom:5px;
	}
	.header22 .salerInfo #gst {
		margin-left:65px;
		font-size:13px;
	}
	.header22 .salerInfo #add {
		text-align:left;
		padding-bottom:6px;
		margin-left:125px;
	}
	
	
	
	
	#tb1{
		margin:0px;
		padding:0px;
		position:absolute;
		top:184px;
		height:195mm;
		max-height: 195mm;
		min-height: 195mm;
		width: 195mm;
		max-width:195mm;
		min-width:195mm;
		overflow: hidden;
	}
	.item{
		margin:0px;
		padding:0px;
		width: 195mm;
		max-width:195mm;
		min-width:195mm;
		border-left: 1px solid black;
		overflow: hidden;
	}
	.item #itemHeader th{
		padding-top:4px;
		padding-bottom:5px;
		border:1px solid black;
		border-top:none;
		border-left:none;
	}
	.item #itemHeader #srno{
		width:7mm;
		max-width:7mm ;
		min-width:7mm;
	}
	.item #itemHeader #goods{
		width:82mm;
		max-width:82mm ;
		min-width:82mm;
	}
	.item #itemHeader #hsn{
		width:20mm;
		max-width:20mm ;
		min-width:20mm;
	}
	.item #itemHeader #qy{
		width:9mm;
		max-width:9mm ;
		min-width:9mm;
	}
	.item #itemHeader #gt{
		width:12mm;
		max-width:12mm ;
		min-width:12mm;
	}
	.item #itemHeader #dis{
		width:10mm;
		max-width:10mm ;
		min-width:10mm;
	} 
	.item #itemHeader #price{
		width:20mm;
		max-width:20mm ;
		min-width:20mm;
	}
	.item #itemHeader #totamt{
		border-right: none;
		width:23mm;
		max-width:23mm ;
		min-width:23mm;
	}
	
	
	
	.item tr td{
		border-right:1px solid black;
	
	}
	.item #data #tdsr{
		vertical-align: baseline;
		padding-top:7px;
	}
	.item #data #srno{
		padding:0px;
		vertical-align: baseline;
		text-align:center;
		width:7mm;
		max-width:7mm ;
		min-width:7mm;
		white-space: -moz-pre-wrap !important;
     	white-space: -pre-wrap;      
     	white-space: -o-pre-wrap;    
     	white-space: pre-wrap;      
     	word-wrap: break-word;       
     	word-break: break-all;
     	white-space: normal;
	}
	.item #data #goods{
		text-align: left;
		padding-left:3px;
		padding-right:3px;
		width:82mm;
		max-width:82mm ;
		min-width:82mm;
		white-space: -moz-pre-wrap !important;
     	white-space: -pre-wrap;      
     	white-space: -o-pre-wrap;    
     	white-space: pre-wrap;      
     	word-wrap: break-word;       
     	word-break: break-all;
     	white-space: normal;
	}	
	.item #data #goods #name{
		text-transform: capitalize;
		padding-top:6px;
		font-weight: bold;
	}
	.item #data #goods #dn{
		padding-top:0px;
		margin-left:4px;
	}
	.item #data #hsn{
		text-align: left;
		padding-left:3px;
		width:20mm;
		max-width:20mm ;
		min-width:20mm;
		white-space: -moz-pre-wrap !important;
     	white-space: -pre-wrap;      
     	white-space: -o-pre-wrap;    
     	white-space: pre-wrap;      
     	word-wrap: break-word;       
     	word-break: break-all;
     	white-space: normal;
	}
	.item #data #qy{
		text-align:center;
		width:9mm;
		max-width:9mm ;
		min-width:9mm;
		white-space: -moz-pre-wrap !important;
     	white-space: -pre-wrap;      
     	white-space: -o-pre-wrap;    
     	white-space: pre-wrap;      
     	word-wrap: break-word;       
     	word-break: break-all;
     	white-space: normal;
	}
	.item #data #gt{
		text-align:center;
		width:12mm;
		max-width:12mm ;
		min-width:12mm;
		white-space: -moz-pre-wrap !important;
     	white-space: -pre-wrap;      
     	white-space: -o-pre-wrap;    
     	white-space: pre-wrap;      
     	word-wrap: break-word;       
     	word-break: break-all;
     	white-space: normal;
	} 
	.item #data #price{
		padding-right:3px;
		text-align:right;
		width:20mm;
		max-width:20mm ;
		min-width:20mm;
		white-space: -moz-pre-wrap !important;
     	white-space: -pre-wrap;      
     	white-space: -o-pre-wrap;    
     	white-space: pre-wrap;      
     	word-wrap: break-word;       
     	word-break: break-all;
     	white-space: normal;
	}
	.item #data #totamt{
		padding-right:3px;
		text-align:right;
		border-right:none;
		width:23mm;
		max-width:23mm ;
		min-width:23mm;
		white-space: -moz-pre-wrap !important;
     	white-space: -pre-wrap;      
     	white-space: -o-pre-wrap;    
     	white-space: pre-wrap;      
     	word-wrap: break-word;       
     	word-break: break-all;
     	white-space: normal;
	}
	.item #data #dis{
		text-align:center;
		width:10mm;
		max-width:10mm ;
		min-width:10mm;
		white-space: -moz-pre-wrap !important;
     	white-space: -pre-wrap;      
     	white-space: -o-pre-wrap;    
     	white-space: pre-wrap;      
     	word-wrap: break-word;       
     	word-break: break-all;
     	white-space: normal;
	}
	
	.item #subtotalrow #subtotal{
		border-top:1px solid black;
		padding-top:6px;
		padding-bottom:7px;
		font-size: 15px;
		padding-right:3px;
		text-align:right;
		width:23mm;
		max-width:23mm ;
		min-width:23mm;
		white-space: -moz-pre-wrap !important;
     	white-space: -pre-wrap;      
     	white-space: -o-pre-wrap;    
     	white-space: pre-wrap;      
     	word-wrap: break-word;       
     	word-break: break-all;
     	white-space: normal;
	}
	
	.item #roundoff,#roundoffamt{
		padding-bottom: 10px;
	}
	.item .right{
		text-align: right;
	}
	.item #gst,#gstamt,#roundoff,#roundoffamt{
		font-weight: bold;
		padding-right:5px;
		padding-top:3px;
	}
	#totalamt2{
		border-right:1px solid black;
	}
	
	
	
	
	#size{
		position:absolute;
		bottom:174px;
		height:8mm;
		max-height: 8mm;
		min-height: 8mm;
		width:195mm;
		max-width:195mm ;
		min-width:195mm;
		overflow: hidden;
		margin:0px;
	}
	.item2{
		table-layout:fixed;
		height:8mm;
		max-height: 8mm;
		min-height: 8mm;
		width:195mm;
		max-width:195mm;
		min-width:195mm;
		border-top:1px solid black;
		border-bottom:1px solid black;
		font-size: 16px;
		font-weight: bold;
		text-align: right;
	}
	.item2 #lastrow #lastrowtot{
		padding-left:210px;
	} 
	.item2 #lastrow #lastrowqty{
		padding-left:131px;
	}
	.item2 #lastrow #lastrowamt{
		padding-right:4px;
	}
	
	#wordrow{
		position:absolute;
		bottom:100px;
		height:20mm;
		max-height: 20mm;
		min-height: 20mm;
		width: calc(195mm - 2px);
		max-width:calc(195mm - 2px);
		min-width:calc(195mm - 2px);
		overflow: hidden;
		border-right:1px solid black;
		border-left:1px solid black;
	}
	
	#wordhead{
		text-align: left;
		padding-top:8px;
		padding-left: 5px;
	}
	#word{
		font-weight: bold;
		text-align: left;
		padding-top:5px;
		padding-bottom: 25px;
		padding-left: 5px;
	}
	
	
	
	.footer1{
		position:absolute;
		bottom:30px;
		height:20mm;
		max-height: 20mm;
		min-height: 20mm;
		width: calc(195mm - 2px);
		max-width:calc(195mm - 2px);
		min-width:calc(195mm - 2px);
		overflow: hidden;
		border-right:1px solid black;
		border-left:1px solid black;
		border-bottom:1px solid black;
	}
	#tnc{
		text-align: left;
		padding-left: 5px;
		float: left;
	}
	#tnchead{
		font-size: 12px;
		font-weight: bold;
	}
	#tnctext{
		font-size:10px;
	}
	#sign{
		float:right;
		text-align: right;
	}
	#signline1{
		padding-right:24px;
		padding-top:3px;
		padding-bottom:3px;
	}
	#signline2{
		padding-right: 5px;
		padding-top:3px;
		padding-bottom:3px;
	}
	
	
	
	
	
	#footertd{
		position: absolute;
		bottom: 0px;
		width:100%;
		text-align: center;
	}
	#footertd #line1{
		font-size:11px;;
	}
	#footertd #line2{
		font-size:10px;
	}