body{
	background-color: #edf8f896;
	overflow:visible;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Calibri,verdana,arial,sans-serif;
}
a{
	text-decoration: none;
	color:inherit;
	cursor: pointer;
}


.header{
	margin:auto;
	overflow:hidden;
	padding-top: 10px;
	margin-bottom: 3px;
}
.header #title{
	float: left;
	clear: left;
	padding-left:18px;
}
.header #text{
	float: right;
	padding-right:10px;
	padding-top:15px;
}
.header #title #titleh1{
	color: #4B4B4B;
	text-transform: uppercase;
	font-size : 41px;
	margin: 0px;
}
.header #title #titleh1:HOVER{
	color: #00aba9;
}
.header #title #titleh1 #u{
	font-size:55px;
	color:  #00aba9;
}
.header #text #textp{
	letter-spacing:3px;
	font-size: 14px;
	font-family: verdana;
}

.menubar{
	margin:auto;
	overflow: visible;
}
.fix{
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0;
}
.menubar ul{
	display : inline-block;
	background-color: #5E5E5E;
	width: 100%;
	margin: 0px;
	padding:0px;
	padding-left:10px;
	text-align: center;
	font-size: 17px;
	letter-spacing: 1px;
	font-family: verdana;
	box-shadow: -2px 3px 4px -2px #5E5E5E;
}
.menubar li{
	height:33px;
	padding-top:11px;
	padding-left:15px;
	padding-right:15px;
	float:left;
	display: inherit;
	color: white;
}
.menubar #current{
	background: #00aba9;
}
.menubar li:HOVER{
	background: black !important;
}


#mainbox{
	margin:auto;
	text-align:center;
	width:100%;
	margin-top: 50px;
	margin-bottom: 50px;
	padding:10px;
}
#box1,#box2,#box3{
	clear:left;
	margin: auto;
	overflow: hidden;
	width:1288px;
	padding:10px;
	margin-bottom:30px;
}
.innerBox{
	margin: auto;
	float: left;
	margin-right:70px;
	margin-bottom:30px;
	box-shadow:5px 7px 10px 0px #5E5E5E;	
}
.innerBox img{
	width:150px;
	padding-top:25px;
}
.innerBox .img {
	border:1px solid black;
	height:200px;
	width:250px;
	margin: auto;
	background:#dadada55;
}
.innerBox .a {
	border:1px solid black;
	width:250px;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 23px;
	background-color:#3b3838;
	color:white;
}
.innerBox:HOVER {
	background-color:#00aba9;
	color:white;
}
