body{
	background-color: #edf8f896;
	overflow:visible;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Calibri,verdana,arial,sans-serif;
}
a{
	text-decoration: none;
	color:inherit;
	cursor: pointer;
}


.header{
	margin:auto;
	overflow:hidden;
	padding-top: 10px;
	margin-bottom: 3px;
}
.header #title{
	padding-left:18px;
}
.header #text{
}
.header #title #titleh1{
	color: #4B4B4B;
	text-transform: uppercase;
	font-size : 50px;
	margin: 0px;
}
.header #title #titleh1 #u{
	font-size:65px;
	color:  #00aba9;
}
.header #text #textp{
	letter-spacing:3px;
	font-size: 14px;
	font-family: verdana;
}

#bg{
	
	margin: auto;
	width:354px;
	border:none;
	border-radius: 5px;
}
fieldset{
	border:none;
	border-radius: 5px;
}
#box{
	width: 330px;
	height:420px;
 	background-color: rgba(13,11,11,0.85);
	box-shadow: 15px 15px 25px 3px;
	margin:auto;
	margin-top: 80px;
}
#u1{
	margin-top:20px;
	margin-bottom: 15px;
	width: 130px;
	
}
#username,#password{
	width:80%;
	height: 20px;
	margin-left: 28px;
	margin-bottom: 35px;
	border:1px solid white;
	border-radius: 2px;
	background: none;
	padding-left: 8px;
	color:white;
	margin-top: 5px;
}
#submit{
	background-color: #4B993C;
	border:none;
	color:white;
	text-align: center;
	height:30px;
	width:115px;
	margin:auto;
	margin-top: 30px;
	font-size:15px;
	border-radius: 3px;
	cursor: pointer;
}
#box a{
	color:white;
	text-decoration: none;
	font-weight: lighter;
}
#box i{
	color:#c1bdbd;
	position: relative;
	top: 2px;
	right: 22.5px;
}
#lck{
	color:#c1bdbd;
	position: relative;
	top: 3.5px;
	right: 24px;
	width: 15.4px;
	height: 15.4px;	
}
#usr{
	position: relative;
	top: 3.5px;
	right: 24px;
	width: 15.4px;
	height: 15.4px;	
}